*, :after, :before {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
    background-color: #7c6f66;
    height: 100%;
}

#main-container {
    min-height: 100%;
}

a, a:active, a:hover {
    text-decoration: none;
    color: white;
    outline: 0;
}
h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#upper-container {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 4rem;
    padding-left: 20px;
    /* border: 1px solid #f2f2f2; */
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
}

#positions {
  height: calc(350px + 3rem);
  width: 350px;
  /* border: 1px solid #24272e; */
  border-radius: 10px;
  margin: 5px;
  
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

#orders {
  height: 22vh;
  width: 60%;
  /* border: 1px #24272e solid; */
  border-radius: 10px;
  margin: 5px;
  font-size: 1.5vw;
  color: #09af2d;
  /* white-space: nowrap; */
  
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  text-align: right;
  position: fixed;
  right: 0;
  z-index: 100;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.navbar-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    max-width: 120rem;
    margin: 0 auto;
    align-items: center;
    min-height: 2rem;
    text-align: right;
    color: #f2f2f2;
    z-index: 2;
    transition: all .1s linear;
}

.nav-item {
    position: relative;
    display: inline-block;
    font-family: Comfortaa, sans-serif;
    font-size: 15px;
    margin-right: 2rem;
}

.nav-item:after {
    content: "";
    position: absolute;
    width: 100%;
    height: .2rem;
    opacity: 0;
    bottom: -1.3rem;
    left: 0;
    transition: all .1s ease-in-out;
    background-color: #f2f2f2;
}

.nav-item:hover:after {
    opacity: 1;
}

.picture {
  margin: 0 auto;
  padding-left: 2rem;
  padding-top: 7rem;
}

#info {
    /* display: block; */
    position: relative;
    left: 12%;
    /* width: 25%; */
    align-items: center;
    flex-direction: row;
    justify-content: center;
    /* height: 4rem; */
    width: 80vw;
    margin: 0 auto;
}

#text-container {
    width: 100%;
    text-align: center;
    margin: 5px;
    padding-top: 4rem;
    /* padding-bottom: 7rem; */
    padding-left: 20px;
    border-radius: 10px;
    /* display: inline-flex; */
    /* align-items: center; */
}

#container {
    position: relative;
    text-align: center;
    justify-items: center;
}

.text-box {
    position: relative;
    /* text-align: center; */
    width: 60%;
    border: 1px solid #1ab622;
    border-radius: 10px;
    border-width: 2px;
    margin: 2rem;
    font-size: 20px;
    color: #1a1a25;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.button {
  display: flex;
  height: 80px;
  width: 200px;
  border: 2px solid #f2f2f2;
  border-radius: 5px;
  margin: 20px;
  color: #f2f2f2;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

span {
  color: #f2f2f2;
  text-decoration: none;
  letter-spacing: 1px;
}

#button-2 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-2 span {
  position: relative;
  transition: all .35s ease-Out;
}

#slide {
  width: 100%;
  height: 100%;
  left: -200px;
  background: #ffffff;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
}

#button-2:hover #slide {
  left: 0;
}

#button-2:hover span {
  color: #09af2d;
  /* border: #09af2d; */
}

.next-project {
    width: 200px;
    height: 5px;
    left: 40%;
    margin: 20px;
  text-align: center;
  justify-content: center;
  /* border: solid #f2f2f2; */
  border-width: 5px;
  padding-top: 2rem;
  /* font-size: 20px; */
  color: #f2f2f2;
  position: relative;
    /* left: 12%; */
  padding-bottom: 4rem;
}

.text {
  font-size: 2em;
}

/* <!------ Hidden Thanks --------> */

#bottom-container2 {
  background-color:rgba(72,72,72,0.4);
  padding: 20px;
  width: 450px;
  float: left;
  position: relative;
  padding-bottom: 20px;
}

#input-container2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#input-title2 {
  margin-top: 10px;
  margin-bottom: 30px;
  /* color: solid black; */
  padding-bottom: 15px;
  font-weight: bold;
  text-align: center;
  color: solid rgb(238, 110, 5);
}

#footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    text-align: center;
    padding: 1.5rem;
    font-size: 1.2rem;
    margin-top: -4.5rem;
}