@import url(https://fonts.googleapis.com/css?family=Comfortaa);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
@import url(https://use.fontawesome.com/releases/v5.8.1/css/all.css);

*, :after, :before {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

html { 
  background: url(/images/gretch1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body {
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
    height: 100%;
}

#main-container {
    min-height: 100%;
}

a, a:active, a:hover {
    text-decoration: none;
    color: white;
    outline: 0;
}

.container {
    margin: 0 auto;
    max-width: 120rem;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 2rem 2.4rem;
}

@media (max-width:767px) {
    .row {
        flex-direction: column;
    }
}

@media (max-width:479px) {
    .row {
        padding-left: 1.8rem;
        padding-right: 1.8rem;
    }
}

@media (max-width:767px) {
    .content {
        font-size: 1.6rem;
    }
}

.navbar {
    text-align: right;
    position: fixed;
    right: 0;
    z-index: 100;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    /* padding-bottom: 1rem;
    padding-top: 1rem; */
}

.navbar-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    max-width: 120rem;
    margin: 0 auto;
    align-items: center;
    min-height: 6rem;
    text-align: right;
    color: #f2f2f2;
    z-index: 2;
    transition: all .1s linear;
}

.nav-item {
    position: relative;
    display: inline-block;
    font-family: Comfortaa, sans-serif;
    font-size: 15px;
    margin-right: 2rem;
}

.nav-item:after {
    content: "";
    position: absolute;
    width: 100%;
    height: .2rem;
    opacity: 0;
    bottom: -1.3rem;
    left: 0;
    transition: all .1s ease-in-out;
    background-color: #f2f2f2;
}

.nav-item:hover:after {
    opacity: 1;
}

.project {
    position: relative;
    background: none;
    padding-top: 6rem;
    padding-bottom: 4rem;
}

.project:after {
    content: "";
    position: fixed;
    top: 0;
    height: 100vh;
    left: 0;
    right: 0;
    z-index: -1;
    /* background: url(assets/jpl.jpg) 50%; */
    filter: brightness(15%);
    background-size: cover;
}

.project__title {
    font-size: 3.2rem;
    color: #303133;
}

.project-row {
    justify-content: flex-start;
    flex-wrap: wrap;
}

@media (max-width:767px) {
    .project-row {
        flex-direction: row;
    }
}

@media (max-width:575px) {
    .project-row {
        flex-direction: column;
    }
}

.project-col {
    display: flex;
    flex: 0 0 33.33332%;
    justify-content: center;
    padding: 6rem;
}

@media (max-width:991px) {
    .project-col {
        flex: 0 0 50%;
    }
}

@media (max-width:575px) {
    .project-col {
        flex: 0 0 100%;
    }
}

.project-container {
    padding-top: 2rem;
}

.project-card {
    position: relative;
    display: inline-block;
    margin: 1rem 1rem 2rem;
    width: 30rem;
    height: 45rem;
    background-color: #f2f2f27a;
    border-radius: 2rem;
    border: .1rem solid #09af2d;
}

@media (max-width:575px) {
    .project-card {
        width: 32rem;
    }
}

@media (max-width:479px) {
    .project-card {
        width: 100%;
    }
}

.project-card-cover {
    height: 35rem;
    background-size: cover;
    background-position: 50%;
    border-radius: 2rem;
}

.project-card-python {
    background-image: url(/images/profile.png);
}

.project-card-content {
    padding: 1rem;
}

.project-card-title {
    position: absolute;
    display: inline-block;
    /* width: 5rem; */
    bottom: 3rem;
    left: .5rem;
    padding: .8rem 2rem;
    font-size: 1.6rem;
    color: white;
    background: #09af2d;
    border-radius: 2rem;
    transition: all .2s linear;
    border: .1em solid transparent;
}

.project-card-btn {
    position: absolute;
    display: inline-block;
    /* width: 5rem; */
    bottom: 3rem;
    right: .5rem;
    padding: .8rem 2rem;
    font-size: 1.6rem;
    color: white;
    background: #09af2d;
    border-radius: 2rem;
    transition: all .2s linear;
    border: .1em solid transparent;
}

.project-card-btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    border: .1em solid white;
}
.project-card-title:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    border: .1em solid white;
}

.project-card-blackbutton {
    background: black;
}

.project-card-blackbutton:hover {
    border: .1em solid white;
}

/* Now onto my info */

.project-card-info {
    position: relative;
    display: inline-block;
    margin: 1rem 1rem 2rem;
    width: 45rem;
    height: 30rem;
    background-color: #f2f2f2c4;
    border-radius: 2rem;
    border: .1rem solid #09af2d;
}

p {
    margin: 10px;
    font-size: 2.5rem;
    color: black;
}


@media (max-width:575px) {
    .project-card-info {
        width: 32rem;
    }
}

@media (max-width:479px) {
    .project-card-info {
        width: 100%;
    }
}

.project-card-content-info {
    padding: 1rem;
}



#footer {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    text-align: center;
    padding: 1.5rem;
    font-size: 1.2rem;
    margin-top: -4.5rem;
}