body {
  padding: 0;
  margin: 0;
  background: #181828;
  font-size: 14px;
  line-height: 1;
}

a, a:active, a:hover {
    text-decoration: none;
    color: #f2f2f2;
}

.navbar {
    position: fixed;
    right: 0;
    z-index: 100;
    width: 100%;
    background-color: #1a1a25;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.navbar-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    max-width: 120rem;
    margin: 0 auto;
    align-items: center;
    min-height: 2rem;
    text-align: right;
    color: #f2f2f2;
    z-index: 2;
    transition: all .1s linear;
}

.nav-item {
    position: relative;
    display: inline-block;
    font-family: Comfortaa, sans-serif;
    font-size: 1.1rem;
    margin-right: 2rem;
}

.nav-item:after {
    content: "";
    position: absolute;
    width: 100%;
    height: .2rem;
    opacity: 0;
    bottom: -1.3rem;
    left: 0;
    transition: all .1s ease-in-out;
    background-color: #f2f2f2;
}

.nav-item:hover:after {
    opacity: 1;
}

.picture {
  margin: 0 auto;
  padding-left: 2rem;
  padding-top: 4rem;
}

.footer {
    background-color: #1a1a25;
    color: #f2f2f2;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}