html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  padding: 0px 0 20px 0px;
  margin: 0px;
  font: 14px/1.5 'OpenSansRegular', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  color: #042c68;
  font-weight: normal;
  background: #e7e5e5;
  background-attachment: fixed !important;
  overflow-x: hidden;
}

#album,
#songs,
#artist {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 150px;
}

#pic {
  /* width: 100%; */
  position: relative;
  width: 100%;
  /* margin-right: 10px; */
  border-radius: 15px;
  /* max-height: 400px; */
}

a {
  color: white;
  font-weight: 400;
  text-decoration: none;
}

user agent stylesheet a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
#header nav li {
  font-family: 'OpenSansLight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  list-style: none;
  display: inline;
  color: #042c68;
  line-height: 50px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  font-size: 14px;
}
user agent stylesheet li {
  text-align: -webkit-match-parent;
}

user agent stylesheet li {
  display: list-item;
  text-align: -webkit-match-parent;
}

section {
  max-width: 800px;
  padding: 30px 0px 50px 0px;
  margin: 5px;
  margin-top: 70px;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
user agent stylesheet section {
  display: block;
}

section #title {
  /* border: 0; */
  outline: none;
  margin: 0 10 50px 0;
  /* padding: 0 0 5px 0; */
}

section h1 {
  /* text-align: center; */
  font-size: 40px;
}

#title p {
  font-size: 18px;
}

#title span {
  font-size: 16px;
}

#signup_catch {
  margin: auto;
  margin-top: 40px;
  width: 100%;
  text-align: center;
  /* color: #C9011E; */
}

#title h1 {
  font-size: 30px;
}

.project-card-title {
  position: relative;
  height: auto;
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  /* background: #042c68; */
  border-radius: 1rem;
  transition: all 0.2s linear;
  border: 0.1em solid transparent;
}

.project-card-title:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  /* border: 0.15em solid #c9011e; */
  background-color: #042c68;
  color: white;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  /* padding: 5px; */
  position: relative;
  /* padding: 0 20px; */
}

div {
  display: block;
}

h2 {
  font-size: 24px;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #042c68;
  margin: 0 0 10px;
  font-family: 'OpenSansRegular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p,
ul,
ol,
table,
pre,
dl {
  margin: 0 0 20px;
}
p,
pre {
  margin: 1em 0;
}
user agent stylesheet p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

user agent stylesheet a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

/* #standings {
    border-top: solid #9A9A9A;
    border-width: 0.5px;
} */

.region h2 {
  color: #c9011e;
}

.region {
  display: flex;
  /* margin: 20px; */
  /* border: solid #4c7ec9;
    border-width: 7px; */
  display: inline-table;
  width: 100%;
  table-layout: fixed;
  list-style-type: none;
  padding-left: 15px;
}
#ol {
  list-style-type: none;
  font-size: 15px;
}
#ol1 {
  text-align: -webkit-match-parent;
  padding-left: 15px;
}

.songs {
  margin: 5px;
  display: table-cell;
}

.artist {
  margin: 5px;
  display: table-cell;
}

.album {
  margin: 5px;
  display: table-cell;
}

*,
:after,
:before {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #f7f7f7;
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
  height: 100%;
}

#main-container {
  min-height: 100%;
}

#hits {
  visibility: hidden;
  /* display: none; */
}

a,
a:active,
a:hover {
  text-decoration: none;
  color: white;
  outline: 0;
}

.button span {
  font-size: 20px;
}

h2 {
  font-size: 40px;
}

.center {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#title-container {
  color: #fff;
  /* font-style: oblique; */
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 20vh;
  width: 80vw;
  margin: 0 auto;
  padding-top: 2rem;
}
#title-message {
  color: #fff;
  /* font-style: oblique; */
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 20px;
}

#title-container-docker {
  color: #0db7ed;
  /* font-style: oblique; */
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 20vh;
  width: 80vw;
  margin: 0 auto;
  padding-top: 2rem;
}

#title-container-docker {
  color: #29beb0;
  /* font-style: oblique; */
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 20vh;
  width: 80vw;
  margin: 0 auto;
  padding-top: 2rem;
}

#title-container-python {
  color: #ffd43b;
  /* font-style: oblique; */
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 20vh;
  width: 80vw;
  margin: 0 auto;
  padding-top: 2rem;
}

#title-container-redis {
  color: #a41e11;
  /* font-style: oblique; */
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 20vh;
  width: 80vw;
  margin: 0 auto;
  padding-top: 2rem;
}

table,
th,
td {
  border: 1px solid black;
}

.navbar {
  text-align: right;
  position: fixed;
  right: 0;
  z-index: 100;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  /* padding-bottom: 1rem;
    padding-top: 1rem; */
}

.navbar-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  max-width: 120rem;
  margin: 0 auto;
  align-items: center;
  min-height: 6rem;
  text-align: right;
  color: #f2f2f2;
  z-index: 2;
  transition: all 0.1s linear;
}

.nav-item {
  position: relative;
  display: inline-block;
  font-family: Comfortaa, sans-serif;
  font-size: 15px;
  margin-right: 2rem;
}

.nav-item:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.2rem;
  opacity: 0;
  bottom: -1.3rem;
  left: 0;
  transition: all 0.1s ease-in-out;
  background-color: #f2f2f2;
}

.nav-item:hover:after {
  opacity: 1;
}

.projects {
  /* padding-top: 10vh; */
  margin: 50px 0;
  /* position: absolute; */
  text-align: center;
  align-content: center;
}

.project {
  /* border: 4px solid white; */
  /* border-radius: 15px; */
  margin: 0 20px;
  padding: 10px;
  display: inline-block;
  transition: all 0.3s;
}

/* .project:hover {
    cursor: auto;
    background: #0b0b0f;
} */

#container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  display: flex;
  height: 50px;
  width: 150px;
  border: 2px solid #fff;
  border-radius: 5px;
  /* margin: 10px 10px 10px 10px; */
  margin: 20px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.button2 {
  display: flex;
  height: 50px;
  width: 150px;
  border: 2px solid rgb(10, 170, 82);
  border-radius: 5px;
  /* margin: 10px 10px 10px 10px; */
  margin: 20px;
  color: rgb(10, 170, 82);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.button2 span {
  font-size: 20px;
  color: rgb(91, 248, 162);
}

span {
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
}

#button-2 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background: rgba(112, 112, 112, 0.185);
}

#button-2 span {
  position: relative;
  transition: all 0.35s ease-Out;
}

#button-3 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background: rgba(112, 112, 112, 0.185);
}

#button-3 span {
  position: relative;
  transition: all 0.35s ease-Out;
}

#slide {
  width: 100%;
  height: 100%;
  left: -200px;
  background: rgba(255, 255, 255, 0.63);
  position: absolute;
  transition: all 0.35s ease-Out;
  bottom: 0;
}

#slide2 {
  width: 100%;
  height: 100%;
  left: -200px;
  background: rgba(65, 236, 142, 0.527);
  position: absolute;
  transition: all 0.35s ease-Out;
  bottom: 0;
}

#button-2:hover #slide {
  left: 0;
}

#button-2:hover span {
  color: #121316;
}
#button-3:hover #slide2 {
  left: 0;
}

#button-3:hover span {
  color: #fff;
}

.next-project {
  text-align: center;
  padding-top: 10vh;
  /* font-size: 20px; */
  color: #fff;
  position: relative;
  padding-bottom: 4rem;
}

.text {
  font-size: 2em;
}

#footer {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
  padding: 1.5rem;
  font-size: 1.2rem;
  /* margin-top: -4.5rem; */
}

#footer-mov {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
  padding: 1.5rem;
  font-size: 1.2rem;
  /* margin-top: -4.5rem; */
}
