/* Experimenting with typing animation  */
h1{
  font-family: "Courier";
  font-size: 40px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
  width: 30em;
  animation: type 6s steps(60, end); 
}
span{
  animation: blink 1s infinite;
}
@keyframes type{ 
  from { width: 0; } 
} 
@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 
@keyframes blink{
  to{opacity: .0;}
}

/* Done experimenting */

a, a:active, a:hover {
    text-decoration: none;
    color: #f2f2f2;
}

.navbar {
    position: absolute;
    right: 0;
    z-index: 100;
    /* width: 100%; */
    /* background-color: #1a1a25; */
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.navbar-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    max-width: 120rem;
    margin: 0 auto;
    align-items: right;
    min-height: 2rem;
    text-align: right;
    color: #f2f2f2;
    z-index: 2;
    transition: all .1s linear;
}

.nav-item {
    position: relative;
    display: inline-block;
    font-family: Comfortaa, sans-serif;
    font-size: 1.1rem;
    margin-right: 2rem;
}

.nav-item:after {
    content: "";
    position: absolute;
    width: 100%;
    height: .2rem;
    opacity: 0;
    bottom: -1.3rem;
    left: 0;
    transition: all .1s ease-in-out;
    background-color: #f2f2f2;
}

.nav-item:hover:after {
    opacity: 1;
}

.homePage {
  cursor: pointer;
  padding-left: 2vh;
  color: rgb(238, 110, 5);
}

body { max-width: 90%; margin: auto; background: #000; }

body:before {
  content: '';
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-image: url(https://unsplash.it/600/600?image=992); /* */
  background-size: cover;
  background-position: center center;
  z-index: -1;
  opacity: 0.9;
  margin: -7px;
  filter: blur(6px);
}
#bottom-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 30vh;
  width: 60vw;
  margin: 0 auto;
}

#input-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

#password-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.btn {
  width: 150px;
}

#input-title {
  margin-top: 10px;
  margin-bottom: 30px;
  /* color: solid black; */
  font-weight: bold;
  text-align: center;
  color: solid rgb(238, 110, 5);
}

#backend {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
}
#frontend {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
}

#password {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
}

/* <!-- This is extra to mess with.. I like everything above here <----> */

#data-container {
    display: block;
    width: 33%;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 50vh;
  width: 90vw;
  margin: 0 auto;
  /* text-align: center; */
}
/* #side-container {
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 20vw;
} */
#title-container {
  color: rgb(238, 110, 5);
  /* font-style: oblique; */
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 20vh;
  width: 80vw;
  margin: 0 auto;
}
#positions {
  height: 40vh;
  width: 90vw;
  border: 1px solid rgb(88, 65, 46);
  border-radius: 10px;
  border-width: 5px;
  margin-top: 0;
  /* margin-bottom: 5px; */
  
  display: flex;
  font-size: 20px;
  color: solid rgb(238, 110, 5);
}
#positions-title {
  width: 90vw;
  font-size: 15px;
  display: flex;
  font-weight: bold;
  flex-direction: row;
  padding-left: 20px;
  color: rgb(238, 110, 5);
}
#positions-log {
  overflow-y: scroll;
  scrollbar-width: none;
  color: solid lime;
}
#positions-log::-webkit-scrollbar {
  display: none;
}
.position-inst {
  width: 100vw;
  height: 40px;
  /* display: flex; */
  /* align-items: center; */
  flex-direction: row;
  /* justify-content: center; */
  color: solid lime;
  /* margin: 10px; */
}
.position-fragment {
  margin: 5px;
  width: 87vw;
  padding-left: 20px;
}

.position-var {
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 2vw;
}